@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&display=swap');

body{
  padding: 0;
  margin: 0;
}

.app {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #0A0908;
  color: white;
}

.header a {
  color: inherit;
  text-decoration: inherit;
}

.title {
  font-family: 'Alex Brush', cursive;
  font-size: 64px;
  margin: 0 10px;
}

.nav {
  text-align: right;
  color: #EAE0D5;
}

