@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&display=swap');

body{
  padding: 0;
  margin: 0;
  background-color: #EAE0D5;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#appContainer {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  overflow: auto;
  height: calc(100vh - 140px)
}

.header {
  background-color: #0A0908;
  color: #EAE0D5;
  /* max-height: 100px; */
}

.footer {
  background-color: #0A0908;
  color: #EAE0D5;
  height: 50px;
}

.debug {
  border: 1 dotted grey;
}



